@import "../../styles/variables";
@import "../../styles/mixins";

.container{
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem ;
    gap: 1rem;
    overflow-y: auto;
    height: 100%;
    

    .actionsContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-subdued;

        .searchContainer{
            @include flex-center;
            @include hover-pop();
        }

        .filterContainer{
            position: relative;

            .filter{
                display: flex;
                align-items: center;
                gap: 0.25rem;
                @include hover-pop();
                position: relative;
                background-color: transparent;
                border: none;
                color: $text-subdued;
            }

            .filterOptions{
                position: absolute;
                top: 100%;
                margin-top: 0.2rem;
                right: 0;
                background-color: $bg-elevated;
                border-radius: $radius-md;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                list-style: none;
                z-index: 10;
                color: $text-base;
                cursor: default;
                width: 13rem;
                padding: 0.5rem 0.2rem;
                font-size: $font-size-sm;

                p{
                    padding: 0.7rem 0.5rem;
                    font-weight: 500;
                    color: $text-subdued;
                }

                li{
                    &:hover{
                        background-color: $bg-highlight;
                    }

                    button{
                        background-color: transparent;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 0.7rem 0.5rem;
                        height: 100%;
                        border:none;

                        
                    }

                    .active{
                        color: $green-primary;
                    }
                }
            }
        }
    }
}