@import "@/styles/variables";
@import "@/styles/mixins";

.sliderSoundControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    font-size: 0.75rem;
    padding-top: 0.5rem;

    
    .slider {
        width: 30rem;
    }
}