@import "../../../styles/variables";
@import "../../../styles/mixins";

.page{
    height: 100%;
    border-radius: $radius-sm;

    .albumInfo{
        padding: 1rem 2rem;
        border-top-left-radius: $radius-sm;
        border-top-right-radius: $radius-sm;
        display: flex;
        gap: 1.5rem;
        align-items: end;
        background-color: var(--bg-color);

        .cover{
            width: 180px;
            height: 180px;
            flex-shrink: 0;
            border-radius: $radius-sm;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .details{
            display: flex;
            flex-direction: column;

            .type{
                font-size: $font-size-sm;
                font-weight: 700;
                color: $text-subdued;
            }

            .title{
                font-size: 4rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }

            .description{
                color: $text-subdued;
                font-size: $font-size-sm;
                font-weight: 500;

                .artists{
                    color: $text-base;
                }
            }
        }
    }

    .songList{
        background: linear-gradient(
            to bottom, 
            var(--bg-color) - 5%,
            transparent 40%
        );
        padding: 1rem 2rem;

        .playButtonContainer{
            margin-bottom: 0.5rem;
        }

        table{
            width: 100%;
            border-collapse: separate;
            border-spacing: 0;
            color: $text-subdued;
            
            thead {
                td { 
                    padding: 0.5rem 1rem;
                    font-weight: normal;
                    
                    border-bottom: 1px solid $text-subdued;
                    
                    &:last-child { text-align: right; }
                    &:first-child { width: 40px; }
                }
            }
            tbody {
                &:before {
                    content: "@";
                    display: block;
                    line-height: 10px;
                    text-indent: -99999px;
                }
            }
        }
    }
}
