@import "../../styles/variables";
@import "../../styles/mixins";

.playlistCard{
    position: relative;
    padding: 1rem;
    width: 200px;
    border-radius: $radius-md;

    &:hover{
        background-color: #cecece46;
        cursor: pointer;

        .playButtonContainer{
            opacity: 1;
        }
    }

    .playButtonContainer{
        position: absolute;
        bottom: 6rem;
        opacity: 0;
        right: 1.5rem;
        transition: opacity 0.2s ease-in-out;

        .playButton{
            @include flex-center;
            background-color: $green-primary;
            border: none;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            color: $bg-base;
            font-size: $font-size-md;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease-in-out;

            &:hover{
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    img{
        aspect-ratio: 1 / 1;
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: $radius-md;
    }

    .playlistInfo{
        margin-top: 0.5rem;

        h4{
            @include text-truncate;
            font-size: $font-size-md;
            font-weight: 600;
        }

        span{
            @include text-truncate;
            font-size: $font-size-sm;
            color: $text-subdued;
        }
    }
}