@import "@/styles/variables";
@import "@/styles/mixins";
.playButton{
    @include flex-center;
    background-color: $green-primary;
    border: none;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    color: $bg-base;
    font-size: $font-size-md;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}