@import "../../styles/variables";
@import "../../styles/mixins";

.container{
    background-color: $bg-black;
    color: $text-base;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-subdued;
    text-align: center;

    .logo{
        color: $text-base;
        &:hover{
            cursor: pointer;
        }
    }

    .navItems{
        @include flex-center;
        gap: 0.5rem;

        .homeIcon{
            @include flex-center;
            border-radius: 100%;
            padding: 0.7rem;
            @include hover-pop();
            
            &:hover{
                background-color: $bg-highlight;
            }

        }

        .searchContainer{
            @include flex-center;
            background-color: $bg-elevated;
            padding: 0.25rem 0.5rem;
            border-radius: $radius-pill;
            transition: all 0.5s ease;
            box-shadow: 0 0 0 0 transparent;

            &:hover{
                color: $text-base;
                cursor: pointer;
                background-color: $bg-highlight;
                box-shadow: 0 0 0 1px gray;
            }

            .searchIcon{
                @include flex-center;
                border-radius: 100%;
                padding: 0.5rem;
                transition: transform 0.2s ease-in-out;
                &:hover{
                    color: $text-base;
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }

            input{
                background: transparent;
                border: none;
                outline: none;
                color: $text-base;
                font-size: $font-size-md;
                font-weight: 500;
                width: 25rem;
                height: 100%;
                border-right: 1px solid $text-subdued;
                &::placeholder{
                    color: $text-subdued;
                }
            }
        }
    }

    .navActions{
        @include flex-center;
        gap: 1rem;

        .installApp{
            @include flex-center;
            gap: 0.5rem;
            font-weight: bold;
            font-size: small;
            transition: transform 0.1s ease-in-out;
            will-change: transform; 
   
            &:hover{
                color: $text-base;
                cursor: pointer;
                transform: scale(1.05);
            }
        }

        .avatar{
            @include flex-center;
            background-color: goldenrod;
            color: black;
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            font-weight: bold;
            &:hover{
                cursor: pointer;
            }
        }

    }
    
}

