@import "@/styles/variables.scss";

.root{
    position: relative;
    display: flex;
    align-items: center;

    .track{
        position: relative;
        height: 5px;
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        background-color: gray;

        .range{
            position: absolute;
            height: 100%;
            background-color: white;
        }
    }
    .thumb{
        display: block;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    &:hover{
        .range{
            background-color: $green-primary;
        }
    }
}